# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# DATABASE_URL="postgresql://postgres:neymar11@localhost:32768/studyBd?schema=public"
DATABASE_URL=""
# Direct connection to the database used by Prisma CLI for e.g. migrations.
DIRECT_URL=""
AUTH_RESEND_KEY=""

STRIPE_PUBLISH_KEY=""

STRIPE_SECRET_KEY=""

WEBHOOK_KEY=""

NEXT_PUBLIC_SUPABASE_URL = ""

NEXT_PUBLIC_SUPABASE_PUBLISH_API_KEY = ""

AUTH_SECRET=""

NEXT_PUBLIC_APP_URL= "http://localhost:3000"

OPENAI_API_KEY = ""